<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ConfigAppNetFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="MyArrayParametr" type="ConfigAppNetFramework.MyArrayParametrSection, ConfigAppNetFramework" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<applicationSettings>
		<ConfigAppNetFramework.Properties.Settings>
			<setting name="MyParametr" serializeAs="String">
				<value>SomeValue</value>
			</setting>
		</ConfigAppNetFramework.Properties.Settings>
		<MyArrayParametr>
			<SomeParametrString1>Value1</SomeParametrString1>
			<SomeParametrInt2>1</SomeParametrInt2>
			<SomeParametrBool3>true</SomeParametrBool3>
		</MyArrayParametr>
	</applicationSettings>

</configuration>